form.flex-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 500px;
}

.main.flex-container{
    flex-direction: column;
    align-items: center;
}

#stampa{
    background-color: white;
    width: 50%;
    margin-top: 30px;
    padding: 50px
}

.form-input{
    margin-bottom: 20px;
    font-size: 18px;
}

input[type="text"]{
    border: none;
    border-bottom: 1px solid #003049;
    color: #003049;
    background-color: transparent;
}

input[type="submit"]{
    border: none;
    background-color:#003049;
    color: #fdf0d5;
    width: 80px;
    height: 30px;
}

input[type="text"]:focus{
    outline: none;
}

input[type="file"]{
    background-color: transparent;
    color: #003049;
    border: none;
    font-size: 18px;

}

input[type="file"]::file-selector-button{
    background-color: #003049;
    border: none;
    font-size: 18px;
    color: #fdf0d5;
    width: 100px;
    height: 30px;
}

select{
    font-size: 18px;
    border: none;
    background-color: #003049;
    color: #fdf0d5;
    width: 180px;
    height: 40px;
    padding: 5px;
}

label{
    margin-bottom: 20px;
    font-size: 18px;
    color: #003049;
}

.instruction-header{
    margin: auto;
}

.instruction-header > h2{
    color: #003049;
    text-align: center;
}

@media screen and (max-width: 1220px){
    #stampa{
        width: 100%;
        margin-top: 0;
        padding: 0;
    }

    .instruction-header{
        margin-top: 30px;
    }
}