.main.flex-container {
    justify-content: center;
}
.wrapper{
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
}

.field-container{
    width: 80%;
}

input{
    margin-bottom: 20px;
}

input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #003049;
    color: #003049;
    background-color: transparent;
    font-size: 18px;
}

input[type="submit"]{
    border: none;
    background-color:#003049;
    color: #fdf0d5;
    width: 170px;
    height: 40px;
    font-size: 18px;
    align-self: center;
}

input[type="text"]:focus, input[type="password"]:focus{
    outline: none;
}