*{
    margin:0;
    padding:0;
}

.body{
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.flex-container{
    width:100%;
    display: flex;
    flex-wrap: wrap;
}

.flex-left-item.logo{
    margin-right: 2%;
}

.flex-right-item.nav{
    flex: 80%;
    align-self: end;
}

/*HEADER*/
.header{
    background-color: #003049;
    position: sticky;
}

#header-logo{
    width: 80px;
    margin: 5px 0px 0px 5px;
    padding: 5px;
}

.nav{
    margin: 0px;
    padding: 0px;
}

.nav > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #003049;
}

.nav > ul > li{
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}
li a:hover {
    background-color: #669bbc;
}

.login-button{
    position: absolute;
    right: 15px;
    display: flex;
    align-items: center;
    border-style: none;
}

/*MAIN*/

.main{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fdf0d5;
}

.welcome-header{
    margin-top: 3%;
    width: 100%;
    text-align: center;
}

.welcome-header > h1{
    color: #003049;
}


