*{
    margin:0;
    padding:0;
}

html{
    width: 100%;
    overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
    max-width: 100%;
}

html, body{
    height: 100%;
}

a{
    text-decoration: none;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6{
    color: #003049;
}

a:hover{
   text-decoration: none;
    color: inherit;
}

a:visited{
    text-decoration: none;
    color: default;
}

input[type="submit"], input[type="file"]{
    cursor: pointer;
}

button{
    cursor: pointer;
}

.flex-container{
    width:100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.flex-left-item.logo{
    margin-right: 2%;
}

.flex-right-item.nav{
    flex: 80%;
    align-self: end;
}

.hide{
    display: none;
}

/*HEADER*/
.header{
    background-color: #003049;
    position: sticky;
    z-index: 2;
}

#header-logo{
    width: 80px;
    margin: 5px 0px 0px 5px;
    padding: 5px;
}

.nav{
    margin: 0px;
    padding: 0px;
}

.nav > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #003049;
}

.nav > ul > li{
    float: left;
}

.nav-separetor{
    display: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}
li a:hover {
    background-color: #669bbc;
}

.dropdown:hover{
    background-color: #669bbc;
}

.right-buttons{
    /*align-items: flex-end;*/
    align-self: center;
    margin: 0px 5px;
}

.empty-flex-field{
    flex-grow: 5;
}

.dropdown{
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    font-family: inherit;
    background-color: transparent;
    margin: 0;
    z-index: 5;
}

i.fa-circle-user{
    margin-right: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 5.5px;
    background-color: #669bbc;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #fdf0d5;
    color: #003049;
}

.show{
    display: block;
}

.dropdown-content a.logout-link:hover{
    background-color: #c1121f;
    color: #fdf0d5;
}

.burger{
    display: none;
}

ul.flex-container{
    align-items: end;
}
/*FINE HEADER*/

/*MAIN*/
.main{
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fdf0d5;
    min-height: 100%;
}

.welcome-header{
    margin-top: 3%;
    width: 100%;
    text-align: center;
}

.welcome-header > h1{
    color: #003049;
}

.alert{
    position: absolute;
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
}

/*FINE MAIN*/

@media screen and (max-width: 768px) {
    .nav{
        display: none;
    }

    .burger{
        display: block;
        text-decoration: none;
        color: white;
        margin-left: auto;
        font-size: 40px;
        margin-right: 20px;
        align-self: center;
    }

    .responsive{
        display: block;
    }

    ul.flex-container{
        list-style-position: unset;
        flex-direction: column;
    }

    .nav > ul > li{
        float: left;
        width: 100%;
        flex: 1;
    }

    li.right-buttons{
        margin: 0px;
        text-align: center;
    }

    .dropdown-content{
        position: relative;
        right: 0;
    }

    .dropdown-content > a{
        text-align: center;
    }

    .empty-flex-field{
        display: none;
    }

}
